* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
}

canvas {
  border: 3px solid black;
  margin-top: 30px;
  margin-bottom: 30px;
}

